html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
}

h3.product-name {
  font-size: 40px;
  font-weight: 600;
}

.product-price h4 {
  font-size: 16px;
}

.product-price s {
  font-size: 18px;
  font-weight: 300;
  color: #de214d;
}

.price span {
  font-size: 18px;
  font-weight: 600;
}

.product-qty button {
  height: 34px;
}

.input-group {
  width: 150px;
}

.product-qty input {
  height: 34px;
}

.product-color h4 {
  font-size: 18px;
  margin-bottom: 2rem;
}

.product-color {
  margin-top: 2rem;
}

.product-color a {
  padding: 1rem 2rem;
  border-radius: 5px;
  border: 1px solid #00000047;
  margin: 1rem;
}

.product-color a:first-child {
  margin-left: 0;
}

.product-size-container h4 {
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 2rem;
}


@media screen and (max-width: 500px) {
  .cart-button button {
    width: 100%;
  }
}
