<div *ngIf="!cartItems || cartItems.length<0">
  <h2>Please add product in cart</h2>
</div>
<div *ngIf="cartItems" class="container">
  <div class="row">
    <div class="col-md-12 cart">
      <table>
        <tr>
          <th>Product Name</th>
          <th>Variant Color</th>
          <th>Variant Size</th>
          <th>Quantity</th>
          <th>Price(BDT)</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let cartItem of cartItems">
          <td>{{cartItem.productName}}</td>
          <td>{{cartItem.variantColor}}</td>
          <td>{{cartItem.variantSize}}</td>
          <td>
            <div class="product-qty">
              <div class="input-group">
                <span class="input-group-btn">
                    <button (click)="decrement(cartItem)"
                            class="quantity-left-minus btn btn-danger btn-number"
                            type="button">
                      <i class="fa fa-minus"></i>
                    </button>
                </span>
                <input class="form-control input-number" max="100" min="1" name="quantity"
                       type="text"
                       disabled
                       [(ngModel)]="cartItem.quantity">
                <span class="input-group-btn">
                  <button (click)="increment(cartItem)"
                          class="quantity-right-plus btn btn-success btn-number"
                          type="button">
                    <i class="fa fa-plus"></i>
                  </button>
                </span>
              </div>
            </div>
          </td>
          <td>
            {{cartItem.productPrice * cartItem.quantity}}
          </td>
          <td>
            <span class="input-group-btn">
              <button (click)="removeItem(cartItem)"
                      class="btn btn-danger btn-number" type="button">
                <i class="fa fa-trash"></i>
              </button>
            </span>
          </td>
        </tr>

        <tr>
          <td>
            Total(BDT):
          </td>
          <td colspan="3"></td>
          <td>
            {{cartTotal}}
          </td>
        </tr>
      </table>
      <div>
        <button (click)="checkOut()" class="btn btn-warning checkout-btn">Checkout</button>
      </div>
    </div>
  </div>
</div>
