<div *ngIf="!cartItems || cartItems.length<0">
  <div class="container">
    <div>
      <h2 class="m-4">Your cart is empty</h2>
    </div>
  </div>
</div>
<div *ngIf="cartItems" class="container">
  <div class="row">
    <div class="col-md-12 cart">
      <table>
        <tr>
          <th>Product Name</th>
          <th>Variant Color</th>
          <th>Variant Size</th>
          <th>Quantity</th>
          <th>Price(BDT)</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let cartItem of cartItems">
          <td>{{cartItem.productName}}</td>
          <td>{{cartItem.variantColor}}</td>
          <td>{{cartItem.variantSize}}</td>
          <td>
            <app-cart-item-quntity-change
              (quantityChange)="onChangeQuantity($event)"
              [cartItem]="cartItem">
            </app-cart-item-quntity-change>
          </td>
          <td>
            {{cartItem.productPrice * cartItem.quantity}}
          </td>
          <td>
            <span>
              <button (click)="removeItem(cartItem)"
                      class="btn btn-danger btn-number" type="button">
                <i class="fa fa-trash"></i>
              </button>
            </span>
          </td>
        </tr>

        <tr>
          <td colspan="6"></td>
        </tr>
        <tr>
          <td>
            Total(BDT):
          </td>
          <td colspan="3"></td>
          <td colspan="2">
            {{cartTotal}}
          </td>
        </tr>
      </table>
      <div>
        <button (click)="checkOut()" class="btn btn-warning checkout-btn">Checkout</button>
      </div>
    </div>
  </div>
</div>
