.cart table {
  width: 100%;
  border: 1px solid #0000001f;
}

.cart table tr:nth-child(even) {
  background: #0000002f
}

.cart .product-qty {
  margin: 0;
}

.cart th, td {
  padding: 1rem 1rem;
}

.product-qty button {
  height: 34px;
}

.checkout-btn {
  width: 30%;
  margin: 2rem 0;
  float: right;
}

.checkout-btn:hover {
  background: #dab8a8;
}
